# Flask Configuration
FLASK_KEY=8BYkEfBA6O6donzWlSihBXOx7c0sKR6b
DB_URI=postgresql://neondb_owner:npg_el79zPcUZSCs@ep-empty-sky-a104qhds-pooler.ap-southeast-1.aws.neon.tech/post?sslmode=require&channel_binding=require

# Email Configuration (for sending contact/password reset emails)
SENDER_EMAIL=alliyantesting@gmail.com
SENDER_PASSWORD=iobtgvkrtucupmtm
RECIPIENT_EMAIL=alliyan002@gmail.com
